*{
    list-style-type: none ;
    margin: 0;
    padding: 0;
}


textarea {
    min-height: 400px;
}
.card-container{
    margin-bottom: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #E5E5E5;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    min-height: 96px;

    
}
.email-header{
    margin-bottom: 10px;
    border-bottom: solid;
    border-width: thin;
    border-color: #E5E5E5;
    padding: 5px;
    display: flex;
}
.detail-container{
    margin: 5px 0 5px 10px;
}
.mail-from{
    font-size: 18px;
    font-weight: 800;
}
.mail-subject{
    font-size: 17px;
    font-weight: 500;
}
.mail-body{
    font-size: 15px;
    color: rgb(117, 117, 117); 
}
.time-container{
    margin: 5px 15px 0 auto;

}

.mail-time{
    font-size: 12px;
    color: rgb(117, 117, 117); 
}

.view-subject{
    font-size: 25px;
    font-weight: 800;
}

.archive-btn{
    position: relative;
    top: 20px;
    left: 70px; 
    z-index: 10;
}

